@charset "utf-8";

body {
    background-color: var(--color-dark1);
    color: var(--color-white1);
}

/***** header *****/
header {}
header .gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
    border-bottom: 1px solid var(--color-white2);
}
header .gnb .header-left {}
header .gnb .header-left a {
    display: block;
}
header .gnb .header-left a img {
    width: 114px; height: 56px;
}
header .gnb .header-right {
    display: flex;
    justify-content: space-between;
    /* height: 56px; */
}
header .gnb .header-right li {}
header .gnb .header-right li h2 a {
    font-size: var(--font-size-ml);
    font-weight: 500;
    display: block;
    width: 114px;
    height: 56px; line-height: 56px;

}
header .gnb .header-right li ul {

}
header .gnb .header-right li ul li {
    /* border-left: 1px solid var(--color-white2); */
}
header .gnb .header-right li ul li a {
    display: none;
    /* display: block; */
    /* width: 114px; */
    font-size: var(--font-size-m);
    font-weight: 400;
    padding: 4px 4px;
    padding: 0 24px 0 24px;
    /* background-color: violet; */

}

/***** main-container *****/
/***** main-intro *****/
/***** main-dream *****/
/***** main-display *****/
/***** masterpiecess-text *****/
/***** main-masterpiecess *****/
/***** main-artists *****/
/***** main-record *****/
/***** main-curator *****/
/***** main-space *****/
/***** main-notice *****/




/***** footer *****/
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: var(--font-size-ms);
    color: var(--color-gray);
    padding: 44px 26px 0 26px;
}
footer .footer-left h2 {
    font-size: var(--font-size-ml);
    font-weight: 600;
    padding: 6px 0 6px 0;
}
footer .footer-left h4 {padding: 6px 0 6px 0;}
footer .footer-right h4 {padding: 6px 0 6px 0;}



